<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.jeef.sonos</string>
	<key>connections</key>
	<dict>
		<key>0F27F39C-7D07-4B7A-AC17-0543086E55BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C742732-53AE-477C-86B4-61F1531B07F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3528C7B6-A775-4B72-ADA6-FF194805E076</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F27F39C-7D07-4B7A-AC17-0543086E55BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C742732-53AE-477C-86B4-61F1531B07F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56A6807B-895F-4DED-A086-3BEFC16C8FAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66DFBEDD-6EB9-4069-A2A3-50AAEFEF379F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>865ACF8C-B59B-4BB8-AEB3-68BC37657394</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6AF40A1A-F9E0-4D72-8AD9-F5E5A628438D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78F81F7E-CDEC-4657-A2DB-2ED3BE2DD18C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>865ACF8C-B59B-4BB8-AEB3-68BC37657394</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D523C555-F728-4317-8EDB-2A7318EE481B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B66A37BB-2D5A-4D07-9DEA-B9EC8441B4C6</key>
		<array>
		</array>
		<key>E4A2B0BC-E519-4DC7-8AB1-8E6935289754</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8726B183-C051-407E-AA0B-C31E7B9BDD90</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F035D803-9C38-49EC-8FE9-C16872ECFBD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>184D972D-DD17-43B0-B7E7-E27D83775F08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FEC2EFA4-7992-4875-9E5B-F123CD2C4337</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E4A2B0BC-E519-4DC7-8AB1-8E6935289754</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6AF40A1A-F9E0-4D72-8AD9-F5E5A628438D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FEC2EFA4-7992-4875-9E5B-F123CD2C4337</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71859145-47FF-4F89-977D-54C2257D85FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SonosTTS</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>#/usr/local/bin/python

#query = sys.argv[1]

#sys.stdout.write(query)


import soco

def get_zev():

    for device in soco.discover():
        if device.player_name == 'Zev':
            print device.ip_address
            return device

    return None

device = get_zev()


url = 'x-file-cifs://iMac/share/tts.mp3'

device.play_uri(url)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>play_tts.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>184D972D-DD17-43B0-B7E7-E27D83775F08</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tts</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>tts.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F035D803-9C38-49EC-8FE9-C16872ECFBD9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew install lame</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>71859145-47FF-4F89-977D-54C2257D85FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>config::InstallLame</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>FEC2EFA4-7992-4875-9E5B-F123CD2C4337</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>say -v $voice $string -o /tmp/tts.aiff &amp;&amp; /usr/local/bin/lame --quiet -m m /tmp/tts.aiff /share/tts.mp3</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B66A37BB-2D5A-4D07-9DEA-B9EC8441B4C6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>VoiceSelect</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>8726B183-C051-407E-AA0B-C31E7B9BDD90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>config::SelectVoice</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E4A2B0BC-E519-4DC7-8AB1-8E6935289754</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>SpeakerSelect</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>78F81F7E-CDEC-4657-A2DB-2ED3BE2DD18C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>config::SelectSpeaker</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6AF40A1A-F9E0-4D72-8AD9-F5E5A628438D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sts</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>list.py</string>
				<key>subtext</key>
				<string>This could take a moment - sometimes the network is slow</string>
				<key>title</key>
				<string>Sonos TTS - Select Speaker</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>865ACF8C-B59B-4BB8-AEB3-68BC37657394</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>SpeakerSelect</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>66DFBEDD-6EB9-4069-A2A3-50AAEFEF379F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>save_selected_speaker.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D523C555-F728-4317-8EDB-2A7318EE481B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>VoiceSelect</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>56A6807B-895F-4DED-A086-3BEFC16C8FAE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>stv</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait (Processing Vocal Data)</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>select_voice.py</string>
				<key>subtext</key>
				<string>Please select a voice</string>
				<key>title</key>
				<string>Sonos TTS - Voice Selection</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0F27F39C-7D07-4B7A-AC17-0543086E55BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>VoiceSelect</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>3528C7B6-A775-4B72-ADA6-FF194805E076</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>config::exit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>3C742732-53AE-477C-86B4-61F1531B07F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow uses the soco library to allow you to play a TTS string on a sonos.  It requires `lame` to be installed on your system.

If you are using homebrew then dont change lame_search_path.</string>
	<key>uidata</key>
	<dict>
		<key>0F27F39C-7D07-4B7A-AC17-0543086E55BF</key>
		<dict>
			<key>note</key>
			<string>Selects The voice to use for TTS - this is a circular function that will play a preview as well as let you sleect things</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>184D972D-DD17-43B0-B7E7-E27D83775F08</key>
		<dict>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>3528C7B6-A775-4B72-ADA6-FF194805E076</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>3C742732-53AE-477C-86B4-61F1531B07F9</key>
		<dict>
			<key>note</key>
			<string>arg isnt config::exit</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>56A6807B-895F-4DED-A086-3BEFC16C8FAE</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>66DFBEDD-6EB9-4069-A2A3-50AAEFEF379F</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>6AF40A1A-F9E0-4D72-8AD9-F5E5A628438D</key>
		<dict>
			<key>note</key>
			<string>arg is config::SelectVoice</string>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>71859145-47FF-4F89-977D-54C2257D85FA</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>78F81F7E-CDEC-4657-A2DB-2ED3BE2DD18C</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>865ACF8C-B59B-4BB8-AEB3-68BC37657394</key>
		<dict>
			<key>note</key>
			<string>Presents a list of SONOS speakers and allows the use to select which on to use for TTS</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>8726B183-C051-407E-AA0B-C31E7B9BDD90</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>B66A37BB-2D5A-4D07-9DEA-B9EC8441B4C6</key>
		<dict>
			<key>note</key>
			<string>run 'say' and 'lame' to convert into a mp3 file</string>
			<key>xpos</key>
			<integer>1160</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>D523C555-F728-4317-8EDB-2A7318EE481B</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>E4A2B0BC-E519-4DC7-8AB1-8E6935289754</key>
		<dict>
			<key>note</key>
			<string>arg is config::SelectVoice</string>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>F035D803-9C38-49EC-8FE9-C16872ECFBD9</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>FEC2EFA4-7992-4875-9E5B-F123CD2C4337</key>
		<dict>
			<key>note</key>
			<string>arg is config::SelectVoice</string>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>lame_search_path</key>
		<string>/usr/local/bin/lame</string>
		<key>mp3_path</key>
		<string>/share/tts.mp3</string>
		<key>sonos_url</key>
		<string>x-file-cifs://iMac/share/tts.mp3</string>
	</dict>
	<key>version</key>
	<string>1.0.12</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
